
#loginBodyGrid {
  padding-top: 5%;
  min-height: 95vh;
  background-size: 100% 100%;
  z-index: -99;
  width: 100%;
}

.ui.grid {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.textAlignLeft{
  text-align: left !important;
}
